# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
env/
ENV/
venv/

# Environment
*.env
.env

# Data
data/*.csv
data/*.xlsx
data/*.parquet

# Jupyter
.ipynb_checkpoints
*.ipynb

# OS Files
.DS_Store
Thumbs.db
